*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;   /* border should be in h and w not outside h and w ; content area should be dec if border inc; if padding inc then should iclude in content area */
}

.navbar{
    display: flex;
    height: 60px;
    background-color: #018749;
    color: white;
    align-items: center;
}

.logo {
    display: flex;
    background-image: url(img/logo5.PNG);
    background-size: contain;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    align-items: start;
    justify-content: start;
    margin-left: 5px;
}
.nav-logo{
    width: 110px;
    height: 50px;
    margin-left: 5%;
}

#navlogo-h3{
    color: white;
    font-size: 20px;
    padding: 5px;
}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

.menubar {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40px;
    height: 30px;
    margin: 5px;
    top: 10px;
    right: 15px; 
}

.menu{
    width: 30px;
    height: 2px;
    background: #fff;
    margin: 3px 3px 3px 3px;
}

.clock {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}
 
h1 {
    font-size: 2rem;
    color: green;
}
 
h3 {
    font-size: 1.0rem;
    color: #333;
}
 
.time {
    font-size: 2rem;
    margin: 20px 0;
    color: #333;
}
 
.input-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
 
.input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
input[type="date"],
input[type="time"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
}
 
.button-row {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
 
#setAlarm,
#updateTime {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}
 
#setAlarm:hover,
#updateTime:hover {
    background-color: #0056b3;
}
 
.alarms {
    margin-top: 20px;
    text-align: left;
    color: #333;
}
 
.alarm {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;
    font-size: 14px;
}
 
@keyframes fadeIn {
    from {
        opacity: 0;
    }
 
    to {
        opacity: 1;
    }
}

.container{
    background-color: rgb(195, 243, 243);
} 